---
import Layout from '../layouts/Layout.astro';
---

<Layout title="memoryconflux.com">
  <p>
    Hey there. There is not much to see here; this website is currently
    work-in-progress. I'll be uploading my future projects here.
  </p>
  <p>In the meantime, you can find my socials below.</p>
</Layout>
