---
import '../styles/reset.css';
import '../styles/main.css';
import Bluesky from '../assets/bluesky.svg';
import Github from '../assets/github.svg';

const { title } = Astro.props;

interface Props {
  readonly title: string;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <title>memoryconflux.com</title>
  </head>
  <body>
    <header>
      <h1>{title}</h1>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <ul class="socials">
        <li>
          <a
            href="https://bsky.app/profile/ext4cats.memoryconflux.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Bluesky
              width="32"
              height="32"
              stroke-width="1"
              role="img"
              aria-label="Visit my Bluesky"
            />
          </a>
        </li>
        <li>
          <a
            href="https://github.com/ext4cats"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Github
              width="32"
              height="32"
              stroke-width="1"
              role="img"
              aria-label="Visit my Github"
            />
          </a>
        </li>
      </ul>
      <p>
        "It encodes a short hymn that was popular among the inhabitants of my
        city."
      </p>
      <p>
        Hosted with love by <a
          href="https://ext4cats.memoryconflux.com"
          target="_blank"
          rel="noopener noreferrer">ext4cats</a
        >.
      </p>
    </footer>
  </body>
</html>
